extends ../components/base/layout

block variables
  include ../variables
  - const title = "Список страниц - HTML Academy: Мишка"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Каталог — catalog.html",
        src: "catalog.html"
      },
      {
        name: "Вязание на заказ — order.html",
        src: "order.html"
      },
      {
        name: "Страница товара — product.html",
        src: "product.html"
      },
      {
        name: "Поиск — search.html",
        src: "search.html"
      },
      {
        name: "Результаты поиска — search-results.html",
        src: "search-results.html"
      },
      {
        name: "Корзина — cart.html",
        src: "cart.html"
      },
      {
        name: "Новые поступления — new-goods.html",
        src: "new-goods.html"
      },
      {
        name: "Распродажа — sale.html",
        src: "sale.html"
      },
      {
        name: "Бесплатная доставка по России — free-delivery.html",
        src: "free-delivery.html"
      },
      {
        name: "Страница не найдена — 404.html",
        src: "404.html"
      },
      {
        name: "Ошибка на сервере — 500.html",
        src: "500.html"
      },
    ]

  main
    .sitemap
      .container
        +logo()
        //- img(src="https://via.placeholder.com/300x150", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
