mixin pay()
  -
    const companies = [
      {
        img: "img/svg/logo-cdek.svg",
        altText: "СДЭК",
        text: [
          "Пункты выдачи по всей стране",
          "Возможность оплаты при получении заказа",
          "Доставка до дверей по указанному адресу",
          "Пункты выдачи по всей стране",
          "Возможность оплаты при получении заказа",
          "Доставка до дверей по указанному адресу",
        ],
      },
      {
        img: "img/svg/logo-boxberry.svg",
        altText: "Boxbery",
        text: [
          "Возможность примерки при получении",
          "Пункты выдачи по всей стране",
          "Возможность оплаты при получении заказа",
        ],
      },
      {
        img: "img/svg/logo-pochta.svg",
        altText: "Почта России",
        text: [
          "Огромная сеть отделений по всей стране",
          "Отслеживание по ТРЭК номеру",
          "Возможность оплаты при получении заказа",
        ],
      },
    ]

    const paymentMethods = [
      {
        title: "СБП, МирPay, SberPay",
        text: "Оплата по QR коду, по ссылке, по номеру телефона без использования банковской карты",
      },
      {
        title: "Банковской картой",
        text: "Оплата картами Visa, MasteCard, МИР и.т.д.",
      },
      {
        title: "При получении",
        text: "Выбрав наложенный платеж вы оплачивайте заказ при получении в пунктах выдачи заказа",
      },
      {
        title: "По счету",
        text: "Безналичная оплата по счету подойдет для организаций и ИП для расчетов по заказанному товару",
      },
    ]

  section.pay
    .container
      .pay__wrapper
        .title-h2.pay__title
          h2 Доставка и оплата
        .title-h3.pay__subtitle
          h3 Способы доставки
        .pay__text-content
          p Доставка бесплатна при сумме заказа от 1000 ₽
          p Доставка наших заказов осуществляется по всей территории России. Выберите наиболее удобный для Вас вариант доставки, а если у вас есть сомнения, то наши менеджеры постараются подобрать наиболее удобный вариант
        .card
          ul
            each oneCompany in companies
              li
                img(src=oneCompany.img, alt=oneCompany.altText, width="180", height="40", loading="lazy")
                each itemText in oneCompany.text
                  p= itemText

        .title-h3.pay__subtitle
          h3 Способы оплаты
        p При оформлении заказа вы можете выбрать любой удобный для вас способ оплаты
        .card
          ul
            each oneMethod in paymentMethods
              li
                h4= oneMethod.title
                p= oneMethod.text
