mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        name: "catalog",
        href: "catalog.html",
        text: "Каталог товаров",
        isIcon: false,
        iconWidth: 20,
        iconHeight: 20,
      },
      {
        name: "order",
        href: "order.html",
        text: "Вязание на заказ",
        isIcon: false,
        iconWidth: 20,
        iconHeight: 20,
      },
      {
        name: "search",
        href: "search.html",
        text: "Поиск по сайту",
        isIcon: true,
        iconWidth: 18,
        iconHeight: 18,
      },
      {
        name: "cart",
        href: "cart.html",
        text: "Корзина: пока пуста",
        isIcon: true,
        iconWidth: 21,
        iconHeight: 21,
      },
      {
        name: "goods",
        href: "new-goods.html",
        text: "Новые поступления",
        isIcon: false,
        iconWidth: 20,
        iconHeight: 20,
      },
      {
        name: "sale",
        href: "sale.html",
        text: "Распродажа",
        isIcon: false,
        iconWidth: 20,
        iconHeight: 20,
      },
      {
        name: "delivery",
        href: "free-delivery.html",
        text: "Бесплатная доставка по России",
        isIcon: false,
        iconWidth: 20,
        iconHeight: 20,
      },
    ]

  header.header(class=headerMods)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          span.header__logo
            +logo()
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +logo()

        button.header__toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-nav-toggle)
          span.header__toggle.header__toggle--open
            +icon("icon-menu-open", 20, 20)
          span.header__toggle.header__toggle--close
            +icon("icon-menu-close", 20, 20)

        nav.header__nav.main-nav(data-main-nav)
          ul.main-nav__list
            each oneLink in headerLinks
              li.main-nav__item(class=`main-nav__item--${oneLink.name}`)
                a.main-nav__link(class=`${oneLink.isIcon ? "main-nav__link--icon" : ""}`, href=oneLink.href)
                  if oneLink.isIcon
                    +icon(`icon-${oneLink.name}`, oneLink.iconWidth, oneLink.iconHeight)
                  span.main-nav__text= oneLink.text
